name: End-to-end tests

on: [push]

jobs:
  vite-cli-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: ./create-test-app.sh "npm create vite@latest test-app -- --template vue"
      - run: npx playwright install --with-deps chromium
      - run: npm run test:preview &
      - run: npx wait-on http://localhost:4173 && npm test

  vite-cli-latest-ts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: ./create-test-app.sh "npm create vite@latest test-app -- --template vue-ts" --typescript
      - run: npx playwright install --with-deps chromium
      - run: npm run test:preview &
      - run: npx wait-on http://localhost:4173 && npm test

  vue-cli-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: ./create-test-app.sh "npm create vue@latest test-app -- --default"
      - run: npx playwright install --with-deps chromium
      - run: npm run test:preview &
      - run: npx wait-on http://localhost:4173 && npm test

  vue-cli-latest-ts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - run: npm ci
      - run: ./create-test-app.sh "npm create vue@latest test-app -- --default --ts" --typescript
      - run: npx playwright install --with-deps chromium
      - run: npm run test:preview &
      - run: npx wait-on http://localhost:4173 && npm test
